<div class="sidebar">
    <h1><fa-icon [icon]="faChevronLeft"></fa-icon>Navigation</h1>
    <ul>
        <li><h1><fa-icon [icon]="faChevronLeft"></fa-icon>Navigation</h1></li>
        <li><a routerLink="/note-list"><fa-icon class="today" [icon]="faList"></fa-icon>Today</a></li>
        <li><a routerLink="/upcoming"><fa-icon class="tomorrow" [icon]="faCalendarAlt"></fa-icon>Tomorrow</a></li>
        <li><a routerLink="/completed"><fa-icon class="completed" [icon]="faCheckCircle"></fa-icon>Completed</a></li>
    </ul>
</div>
