<div class="main-container">
    <div class="search-bar-container">
        <div class="container">
            <input type="text" placeholder="Find.." class="filter">
            <button class="button">Filter</button>
        </div>
    </div>
    <div class="notes-list">
        <app-note-card 
        *ngFor="let note of createNoteService.notes; index as i"
        [note]="note"
        (requestDelete)="createNoteService.deleteTask(i)">
    </app-note-card>
    </div>
    <button class="button add-button" routerLink="/create-note">+ Add</button>
</div>