.main-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.button {
    padding-top: 1px;
    background: #0084ff;
    border: none;
    color: #1F1F1F;
}

.button:hover {
    background-color: #606c76;
    color: #fff;
}

.notes-list {
    margin-top: 3rem;
    margin-bottom: 70px;
}

app-note-card {
    display: block;
    margin-top: 25px;
}

.add-button{
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 1px;
    border-radius: 50px;
    height: 50px;
    font-size: 10px;
    padding-left: 18px;
    padding-right: 35px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}