<div class="form-container">
    <h1 class="greet">Add Your</h1><h2 class="header-name">Task</h2>
    <form #noteForm="ngForm">
        <div class="field">
            <div class="control">
                <input type="text" placeholder="Title" required class="input" name="title" [(ngModel)]="title">
            </div>
        </div>

        <br>

        <div class="field">
            <div class="control">
                <textarea required placeholder="Body" class="textarea" name="body" [(ngModel)]="body"></textarea>
            </div>
        </div>

        <div class="float-right">
            <div class="control">
                <button class="button button-outline" type="button" routerLink="/note-list">Cancel</button>
            </div>
            <div class="float-right">
                <button class="button" type="submit" [disabled]="!noteForm.valid" (click)="submitForm()">Save</button>
            </div>
        </div>
    </form>
</div>