/* @import './src/main-styles.css'; */
@import '../../../Documents/milligram-1.4.1/dist/milligram.css';
body{
    background: #1F1F1F;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1F1F1F;
}

body::-webkit-scrollbar-thumb {
    background: #0099ff;
}

